body {
    position: relative;
    background-image: url("../images/scroll2.png");
    background-repeat:no-repeat;
    background-size:100% 100vh;
    text-align: center;
}

.container {
    padding: 20px;
    margin-top: 2%;
}

.fancy {
    font-family: "Permanent Marker";
    font-size: 48px;
}

.insideScroll {
    margin-top: 3%;
    visibility: hidden;
}

.grid h2 {
    font-family: "Boogaloo";
    font-size: 36px;
    padding: 0 80px;
}

.btn {
    min-width: 200px;
    background: #F3EAC5;
    border: none;
    font-family: "Boogaloo";
    font-size: 20px;
}

#startBtn, #restartBtn {
    width: 200px;
    padding: 10px;
    font-family: "Boogaloo";
    font-size: 32px;
    margin-top: 20px;
}

.startClass {
    display: block;
    margin-top: 100px;
}

.btnClass {
    display: none;
}

.resultClass {
    display: none;
}

.endClass {
    margin-top: 20px;
    display: none;
    font-family: "Boogaloo";
    font-size: 22px;
}

#progress {
    visibility: hidden;
}

#imgResult {
    width: 300px;
    height: 200px;
}

.footer {
    position: fixed;
    bottom: 5px;
    left: 50%;
    margin-left: -200px;
}
